.container {
    padding-top: 20px;
}

.column {
    padding: .75rem 2rem .75rem 2rem;
}

button {
    width: 130px;
}

button#male {
    background: #00b89c;
    color: #fff;
}

button#female {
    background: #118fe4;
    color: #fff;
}

#users {
    text-align: center;
}

.card .subtitle {
    word-wrap: anywhere;
}