.container {
    padding-top: 20px;
}

.column {
    padding: .75rem 2rem .75rem 2rem;
}

button#male {
    background: #4C4CFF;
    color: #fff;
}

button#female {
    background: #FFC0CB;
    color: #fff;
}

#users {
    text-align: center;
}

.card .subtitle {
    word-wrap: anywhere;
}